<div class="modal" id="changePassModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form ng-controller="AuthController as authController" ng-submit="authController.changePassword(user)">
					
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
						</div>
						<input type="password" ng-model="user.oldPassword" class="form-control" placeholder="Old password" required>
					</div>
					<br>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
						</div>
						<input type="password" ng-model="user.newPassword" class="form-control" placeholder="New Password" required>
					</div>
					<br>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
						</div>
						<input type="password" ng-model="user.confirmPassword" class="form-control" placeholder="Confirm Password" required>
					</div>
				</form>
            </div>
            <br>
            <div class="modal-footer">
                <input type="submit" value="Change" class="btn btn-info">
            </div>
        </div>
    </div>
</div>


