<h2>Browse Tasks</h2>
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="list-group">
				<div class="form-group">
					<div class="input-group">
						<div>
							<div class="input-group-addon">
								<span class="glyhicon glyhicon-search" aria-hidden="true"></span>
							</div>
							<input type="text" ng-model="searchTask" class="form-control" placeholder="search task">
						</div>
					</div>
				</div>
				<br>
				<div ng-controller="TaskController as taskController">	
					<div ng-repeat="task in taskController.tasks | filter: searchTask">
						<a ng-href="#/edit/{{task.$id}}">
						<div class="list-group-item">
							<div class="row-content">
								<h6 class="list-group-item-heading">{{task.title}}</h6>
								<span class="list-group-item-text">
									{{task.description | limitTo: 100}}{{task.description.length > 100 ? "..." : ""}}
								</span>
							</div>
							<div class="payment">
								<div>{{task.amount | currency}}</div>
							</div>
						</div>
						</a>
						<div class="list-group-separator"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>